/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:host,
:root {
  --swiper-theme-color: #fff;
}

.wrap {
  width: 1024px;
  margin: 0 auto;
  font-family: Microsoft JhengHei;
}

.wrap .nav {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 30px;
}

.wrap .nav li {
  margin: 5px;
}

.wrap .nav li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  padding-right: 8px;
  font-weight: bolder;
}

.wrap .nav li a img {
  margin-right: 5px;
}

.wrap .nav .fb a {
  border-right: 2px solid #cccccc;
}

.wrap .nav .fb a span {
  color: #4460a0;
}

.wrap .nav .fb a span:hover {
  color: #517bdc;
}

.wrap .nav .twi a span {
  color: #00aaec;
}

.wrap .nav .twi a span:hover {
  color: #77cff2;
}

.wrap header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap header h1 a {
  width: 184px;
  height: 40px;
  background-image: url("./images/logo.png");
  background-size: cover;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.wrap header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.wrap header .menu li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style-type: none;
  width: 100px;
}

.wrap header .menu li a {
  color: #42d3a9;
  display: block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 14px;
  font-size: 16px;
}

.wrap header .menu li a:hover, .wrap header .menu li a.active {
  background-color: #42d3a9;
  color: #fff;
}

.wrap header .menu li ul {
  display: none;
  background-color: white;
  position: absolute;
  z-index: 999;
}

.wrap header .menu li ul li a {
  border: 1px solid #42d3a9;
}

.wrap .swiper {
  width: 1024px;
  height: 346px;
  z-index: 99;
}

.wrap .swiper .swiper-wrapper .swiper-slide .banner {
  background-image: url("./images/banner.png");
  background-size: cover;
  width: 100%;
  height: 346px;
  position: relative;
}

.wrap .swiper .swiper-wrapper .swiper-slide .banner h2 {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  padding: 35px 45px;
  top: calc(50% - 70px);
}

.wrap .swiper .swiper-button-next,
.wrap .swiper .swiper-button-prev {
  color: white;
}

.wrap .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 0;
}

.wrap .content .card {
  padding: 20px 10px;
  width: 300px;
  border: 1px solid #eee;
  margin: 10px 20px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 5px 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrap .content .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 5px 0px;
}

.wrap .content .card div {
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .content .card h2 {
  font-size: 20px;
  text-align: center;
  margin: 1rem 0;
  font-weight: bold;
}

.wrap .content .card ul {
  padding: 0 1.25rem;
}

.wrap .content .card ul li {
  list-style: disc;
}

.wrap .table {
  padding: 3rem;
}

.wrap .table h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}

.wrap .table .course {
  margin: auto;
  width: 100%;
}

.wrap .table .course tr {
  font-weight: 500;
}

.wrap .table .course tr th,
.wrap .table .course tr td {
  padding: 10px;
  text-align: left;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.wrap .table .course tr th span,
.wrap .table .course tr td span {
  color: #33b897;
}

.wrap .table .course tr th {
  background-color: #f7f7f7;
  font-weight: bold;
}

.wrap .form {
  padding: 1rem 0;
  margin: auto;
  width: 95%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2.13%, #00644b), color-stop(96.66%, #009872));
  background: linear-gradient(180deg, #00644b 2.13%, #009872 96.66%);
  font-weight: bolder;
  color: #fff;
}

.wrap .form h2 {
  font-size: 25px;
  text-align: center;
  padding: 2rem;
  line-height: 2rem;
  letter-spacing: 1px;
}

.wrap .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap .form form textarea,
.wrap .form form .right {
  width: 45%;
  margin: 1rem;
}

.wrap .form form textarea {
  padding: 1rem;
  border: none;
  border-radius: 3px;
}

.wrap .form form .right {
  position: relative;
}

.wrap .form form .right label {
  cursor: pointer;
}

.wrap .form form .right input {
  width: 100%;
  padding: 5px;
  margin: 5px 0 10px 0;
  position: relative;
  border: none;
  border-radius: 3px;
}

.wrap .form form .right input:last-of-type {
  cursor: pointer;
  position: absolute;
  right: 0;
  background-color: #00cc99;
  border: none;
  color: #fff;
  width: 70px;
}

.wrap footer {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap footer h1 {
  margin: 1rem;
}

.wrap footer h1 a {
  display: block;
  background-image: url("./images/footerLogo.png");
  background-size: contain;
  width: 181px;
  height: 38px;
  background-repeat: no-repeat;
  white-space: nowrap;
  overflow: hidden;
  text-indent: 101%;
}

.wrap footer ul {
  margin: 1rem;
}

.wrap footer ul li {
  line-height: 1.25rem;
  font-weight: bold;
}

.wrap footer ul li a {
  color: #e12d80;
  text-decoration: none;
}

.wrap .gotop {
  background-color: rgba(0, 100, 75, 0.8);
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.wrap .gotop:hover {
  background-color: rgba(0, 100, 75, 0.6);
  cursor: pointer;
}

.wrap .gotop i {
  color: #fff;
}

@media (max-width: 969px) {
  .wrap {
    width: 100%;
  }
  .wrap .swiper {
    width: 100%;
    background-position: center;
  }
  .wrap .form form textarea,
  .wrap .form form .right {
    width: 85%;
  }
  .wrap .form form .right input:last-of-type {
    position: static;
  }
  .wrap .gotop {
    width: 30px;
    height: 30px;
  }
  .wrap .gotop i {
    font-size: 26px;
  }
}
/*# sourceMappingURL=css.css.map */